*{margin: 0; padding: 0;}

.contact button.btn.btn-danger {
    background-color: #7cb2bd;
}

.facebook a {color: #eee;}


p {
    color: #eee;
    display: inline;
}

i.fa.fa {
    font-size: 28px;
    color: #eee;
}

.contact .right div {
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
    background: #789ca2;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 10px;
}

.contact .right {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.contact img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.contact .left {
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 30px;
}

.nut i.fa.fa {
    cursor: pointer;
    font-size: 45px;
    padding: 20px 0;
    width: 100%;
    transition: 0.4s;
}

.nut {
    width: 6%;
    float: left;
    background-color: #1f6e94;
    height: auto;
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
    margin: 5%;
    padding: 15px 0;
}

.resume .right {
    margin-top: 10%;
    color: #f5f5f5;
}

.resume .left {
    margin-top: 10%;
    color: #f5f5f5;
    border-right: 3px solid #e2bb9c;
}

.resume h4 {
    margin: 10px;
    color: #f5f5f5;
    font-size: 25px;
}

.resume h2 {
    color: #e2bb9c;
    font-size: 40px;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.resume .skill {
    width: 50%;
    float: right;
    margin-top: 40px;
}


.resume .education {
    width: 50%;
    height: auto;
    margin-top: 40px;
    float: left;
}

.aboutme .right {
    padding: 10px;
    box-sizing: border-box;
}

.aboutme p {
    color: #f5f5f5;
    padding-top: 5px;
    font-size: 16px;
}

.aboutme h4 {
    width: 80px;
    margin: auto;
    color: #e2bb9c;
}

.aboutme .right {
    width: 40%;
    float: right;
}

.aboutme h3 {
    font-size: 35px;
    color: #e2bb9c;
    border-bottom: 2px solid;
    width: 50px;
    margin: auto;
    margin-bottom: 20px;
}

.aboutme h2 {color: #f5f5f5;font-size: 35px;}

.aboutme .left {
    width: 60%;
    height: auto;
    font-size: 20px;
    float: left;
    color: #f5f5f5;
    padding: 0 10px;
    border-right: 2px solid #e2bc98;
}

.home h2 {
    color: #f5f5f5;
    font-size: 45px;
    line-height: 74px;
    margin-top: 25%;
}

.home p {
    font-size: 25px;
    color: #f5f5f5;
}

.aboutme {
    width: 100%;
    height: 100%;
}

.info .home,.aboutme,.resume,.contact {
    width: 100%;
    height: 100%;
    background-color: #578088;
    border-radius: 30px;
    text-align: center;
    font-family: initial;
}

.background .info {
    width: 65%;
    height: 100%;
    float: right;
    position: relative;
}

i.fa {
    padding: 10px;
}

.face .lienket {
    font-size: 25px;
    color: #f5f5f5;
}

.face p {
    font-size: 18px;
    font-weight: 300;
    color: #bbb;
}
.face h3.ten {
    margin-top: 95px;
    font-weight: 600;
    color: #f5f5f5;
}

.avatar {
    width: 150px;
    height: 150px;
    margin: auto;
    transform: translateY(60px);
}

.face .avatar {
    background-image: url("images/avatar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.face {
    width: 35%;
    text-align: center;
    height: 100%;
    font-family: sans-serif;
    float: left;
} 
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("images/background.jpg");
    overflow: hidden;
}
.background{
    width: 79%;
    height: 70%;
    background-color: #114962;
    border-radius: 30px;
    margin: 5% 0;
    float: left;
    margin-left: 5%;
}
.home,.aboutme,.resume,.contact{
    position: absolute;
    transition: 0.4s;
    opacity: 0;

}
.active{
    opacity: 1;
}
.nut i.fa.fa:hover{
    transform: scale(1.5);
}
.activenut{
    border-bottom: 2px solid;
}
@media (max-width: 576px){
    *{
        margin: 0;
        padding: 0;
    }
    .nut i.fa.fa{
        font-size: 20px;
        width: 20px;
    }
    .background{
        height: 100%;
        width: 88%;
    }
    .nut{
        float:right;
        margin: 5% 0;
    }
    .aboutme,.resume,.contact{
        height:100%;
    }
    .face .avatar{
        width: 100px;
        height: 100px;
    }
    .background .face h3{
        font-size:20px;
    }
    .aboutme p{
        text-align:center;
        width:auto;
        display: block;
    }
    body{
        overflow:unset;
        width: 100%;
        height: 100%;
    }
    .resume h2{
        font-size:25px;
    }
}
/*css cho chuyÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢n ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ng*/
.info{
    perspective:500px;
    transform-style: preserve-3d;
}

.tranghtlen{

    animation: diralen 1s forwards;

}
@-webkit-keyframes diralen{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}
.tranghtxuong{

    animation: diraxuong 1s forwards;

}
@-webkit-keyframes diraxuong{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        transform: translateY(100%);
        opacity: 0;
    }
}
/*trangtt*/
.trangtt{

    animation: divao 1s forwards;

}
@-webkit-keyframes divao{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.contact input:focus-within{
  outline: 0;
}
.contact input {
    background-color: #26daff00;
    color: white;
    margin-bottom: 31px;
    width: 100%;
    height: 40px;
}
input[type=text],input[type=password],input[type=email],input[type=checkbox] {
    color: #f3e9e9;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #eee;
    margin: 10px 0;
}